@page "/"

@inject IStringLocalizer<App> Localize
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

    <div style="width: 50vw; margin: 0 auto; margin-top: 2rem">
        <h3>Student Target</h3>

        <h4>Set Target</h4>

        <EditForm Model="@studentTarget" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group row">
                <label for="target" class="col-sm-5 col-form-label">Target</label>
                <div class="col-sm-7">

                    <InputSelectX @bind-Value="studentTarget.TargetId" id="target">
                        <option value="">Select target ...</option>
                        @foreach (var item in Target.Targets)
                        {
                            <option value=@item.Id>@item.Name</option>
                        }
                    </InputSelectX>
                </div>
            </div>
            <div class="form-group row">
                <label for="capability" class="col-sm-5 col-form-label">Capability</label>
                <div class="col-sm-7">

                    <InputSelectX @bind-Value="studentTarget.CapabilityId" id="capability">
                        <option value="">Select grade ...</option>
                        @foreach (var item in Grade.Grades)
                        {
                            <option value=@item.Id>@item.Name</option>
                        }
                    </InputSelectX>
                </div>
            </div>
            <div class="form-group row">
                <label for="semesters" class="col-sm-5 col-form-label">Semesters</label>
                <div class="col-sm-7">
                    <InputSelectX @bind-Value="studentTarget.SemesterId" id="semesters">
                        <option value="">Select semester ...</option>
                        @foreach (var item in Semester.Semesters)
                        {
                            <option value=@item.Id>@item.Name</option>
                        }
                    </InputSelectX>
                </div>
            </div>
            <div class="form-group row">
                <label for="averageCoursePerSemester" class="col-sm-5 col-form-label">Average Course(s) Per Semester</label>
                <div class="col-sm-7">
                    <InputNumber @bind-Value="studentTarget.AverageCoursePerSemester" id="averageCoursePerSemester" />
                </div>
            </div>
            <div class="form-group row">
                <label for="maximumCourseUnit" class="col-sm-5 col-form-label">Maximum Course Unit</label>
                <div class="col-sm-7">
                    <InputNumber @bind-Value="studentTarget.MaximumCourseUnit" id="maximumCourseUnit" />
                </div>
            </div>


            <button type="submit">Submit</button>

        </EditForm>
    </div>



    @code {
        private StudentTarget studentTarget = new StudentTarget();

        protected override async Task OnInitializedAsync()
        {

        }

        public Goke.Plotly.Blazor.Chart barGradeChart;
        public List<Goke.Plotly.Blazor.Chart> barSubplots;
        public List<Goke.Plotly.Blazor.Chart> barGradeCharts;

        bool start;

        private async Task HandleValidSubmit()
        {
            var jsonString = System.Text.Json.JsonSerializer.Serialize(studentTarget);
            await JS.InvokeAsync<string>("setLocalStorage", "studentTarget", jsonString);

            NavigationManager.NavigateTo("Optimization");

        }


    }